<div fxLayoutAlign="center center" fxFlexFill class="main-div"> 
    <mat-card fxFlex="35">
        <mat-toolbar color="primary">Tindin FrontEnd Test</mat-toolbar>
        <form fxLayoutAlign="stretch" fxLayout="column" class="login-form" [formGroup]="formGroup" (ngSubmit)="loginProcess()"> 
            <mat-form-field>
              <input matInput type="email" placeholder="Usuário" formControlName = "email">
            </mat-form-field>
          
            <mat-form-field>
                <input matInput type="password" placeholder="Senha" formControlName = "password">
              </mat-form-field>

              <button mat-raised-button type="submit">Login</button>    
        </form>
    </mat-card>
</div>
